<mat-form-field class="w-full">
  <mat-label>{{ 'input.search.label' | translate }}</mat-label>
  <input
    matInput
    (input)="onQueryChange($event)"
    [placeholder]="'input.search.placeholder' | translate"
    [(ngModel)]="query"
  />
  @if (query) {
    <button
      matSuffix
      mat-icon-button
      [attr.aria-label]="'uni.clear' | translate"
      (click)="onQueryRemove()"
      [matTooltip]="'uni.clear' | translate"
    >
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>

<div class="flex items-end justify-end gap-2">
  <button mat-button (click)="onClear()">{{ 'uni.clear-filters' | translate }}</button>

  <!--
  <a mat-button [routerLink]="['/' + ROUTE_DEFINITION.POSTS.CREATE | localize]">{{ 'uni.create' | translate }}</a>
  -->
</div>

<table
  mat-table
  [fixedLayout]="true"
  [dataSource]="data()"
  matSort
  matSortActive="title"
  matSortDirection="asc"
  matSortDisableClear
  multiTemplateDataRows
  [trackBy]="trackByPostId"
  (matSortChange)="onSortChange($event)"
>
  <colgroup>
    <col width="120" />
    <col width="auto" />
    <col width="50" />
    <col width="50" />
  </colgroup>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>{{ 'table.posts.id.title' | translate }}</th>
    <td mat-cell *matCellDef="let row">
      {{ '#' + row.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'table.posts.title.title' | translate }}</th>
    <td mat-cell *matCellDef="let row" class="font-bold">{{ row.title }}</td>
  </ng-container>

  <ng-container matColumnDef="body">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'table.posts.body.title' | translate }}</th>
    <td mat-cell *matCellDef="let row">{{ row.body }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="pageSizeOptions"
  [length]="totalCount()"
  (page)="onPageChange($event)"
  aria-label="Select page of posts"
></mat-paginator>

<!--
<div *cdkPortal class="container py-4">
  <a mat-button color="primary" [routerLink]="['/' | localize]">{{ 'breadcrumbs.app.posts' | translate }}</a>
</div>
-->
